html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #22253b;
  background-color: rgb(173, 216, 230, 0.3);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}

/* SITE-BUTTONS */
.button-small {
  display: inline-block;
  text-decoration: none;
  border-radius: 34px;
  background-color: #38bff2;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 104.4%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 27px;
  cursor: pointer;
  background-image: url(../img/Group\ 2.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
}


/* SITE-HEADER */
.header {
  padding-top: 12px;
}

.header-container {
  display: flex;
  align-items: center;
  border-radius: 75px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.header-logo {
  display: flex;
  margin-right: 73px;
}

.header-img {
  width: 53px;
  height: 20px;
  object-fit: contain;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sitenav__item:not(:last-child) {
  margin-right: 41px;
}

.sitenav__link {
  color: #22253b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 104.4%;
  text-decoration: none;
}

.registration-wrap {
  display: flex;
  align-items: center;
}

.registration {
  margin-right: 15px;
  color: #3c3e50;
  font-size: 13px;
  font-weight: 400;
  line-height: 104.4%;
  text-decoration: none;
}