html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  color: #22253b;
  background-color: rgb(173, 216, 230, 0.3);
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}

/* SITE-BUTTONS */
.button-small {
  display: inline-block;
  text-decoration: none;
  border-radius: 34px;
  background-color: #38bff2;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 104.4%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 27px;
  cursor: pointer;
  background-image: url(../img/Group\ 2.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.button-small:hover {
  opacity: 0.8;
}

.button-small:active {
  opacity: 0.6;
}

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: 75px;
  padding-left: 45px;
  border-radius: 82px;
  background-color: #f15525;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 96.688%;
  letter-spacing: -0.6px;
  background-image: url(../img/Arrow\ 1.png);
  background-repeat: no-repeat;
  background-position: right 50px center;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}


/* SITE-HEADER */
.header {
  padding-top: 12px;
}

.header-container {
  display: flex;
  align-items: center;
  border-radius: 75px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.header-logo {
  display: flex;
  margin-right: 73px;
}

.header-img {
  width: 53px;
  height: 20px;
  object-fit: contain;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sitenav__item:not(:last-child) {
  margin-right: 41px;
}

.sitenav__link {
  color: #22253b;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 104.4%;
  text-decoration: none;
}

.registration-wrap {
  display: flex;
  align-items: center;
}

.registration {
  margin-right: 15px;
  color: #3c3e50;
  font-size: 13px;
  font-weight: 400;
  line-height: 104.4%;
  text-decoration: none;
}


/* SITE-HERO */
.hero {
  padding-top: 70px;
  padding-bottom: 60px;
}

.hero-container {
  background-image: url(../img/Layer\ 2.png);
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 40px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 46px;
  width: 100%;
  max-width: 638px;
  color: #22253B;
  font-family: Gilroy;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  /* 100% */
}

.hero-heading span {
  color: #F15525;
  font-size: 46px;
  font-weight: 400;
  line-height: 46px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 18px;
  width: 100%;
  max-width: 380px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}


/* TECNALIGY */
.tecnaligy {
  padding-top: 103px;
  padding-bottom: 84px;
}

.tecnaligy-container {}

.tecnaligy-heading {
  margin: 0;
  margin-bottom: 35px;
}

.tecnaligy-inner {
  display: flex;
  align-items: center;
  border-radius: 48px;
  background-color: #fff;
  padding-left: 122px;
  padding-right: 104px;
  padding-top: 42px;
}

.tecnaligy-img {
  width: 407px;
  height: 353px;
  object-fit: contain;
  margin-right: 60px;
}

.tecnaligy-right {}

.tecnaligy-right-services-wrapper {
  display: flex;
}

.tecnaligy-right-services-wrapper:not(:last-child) {
  margin-bottom: 11px;
}

.tecnaligy-right-services-wrapper:last-child {
  margin-bottom: 25px;
}

.tecnaligy-right-services-wrapper span {
  display: inline-block;
  border-radius: 44px;
  padding-top: 14px;
  padding-bottom: 13px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pyton {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 10px;
  background-color: #5096ff;
}

.cet {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffb359;
}

.baza {
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 10px;
  background-color: #ff6f50;
}

.django {
  padding-left: 24px;
  padding-right: 24px;
  background-color: #4bd071;
}

.test {
  padding-left: 26px;
  padding-right: 26px;
  margin-right: 10px;
  background-color: #50c0ff;
}

.docker {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  background-color: #4b77b9;
}

.git {
  padding-left: 18px;
  padding-right: 18px;
  background-color: #af93ff;
}

.tecnaligy-right-text {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

/* NUMBERS */
.numbers {
  padding-top: 30px;
  padding-bottom: 26px;
}

.numbers-container {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
}

.numbers-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 53px;
  list-style: none;
  counter-reset: numbers;
}

.numbers-item {
  counter-increment: numbers;
}

.numbers-item:not(:last-child) {
  margin-right: 58px;
}

.item-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  padding-top: 56px;
  padding-right: 66px;
}

.item-inner::before {
  display: block;
  content: "0" counter(numbers);
  color: #38BFF2;
  font-family: Gilroy;
  font-size: 77px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 26px;
}

.item-heading {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  min-width: 267px;
}

.item-text {
  margin: 0;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}



/* RETINA BG */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .button-small {
    background-image: url(../img/Group\ 2@2x.png);
  }

  .hero-container {
    background-image: url(../img/Layer\ 2@2x.png);
  }
}